<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
	<link href="webjars/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet">




	<meta charset="UTF-8">
	<title>List Todos Page</title>
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light mb-3 p-1">
		<a class="navbar-brand m-1" href="https://courses.in28minutes.com">in28Minutes</a>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="/list-todos">Todos</a></li>
			</ul>
		</div>
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
		</ul>
	</nav>


	<div class="container">
		<h1 th:text="'Enter Todo Details'"></h1>
		<form th:object="${todo}" method="post">
			<fieldset class="mb-3">
				<label th:for="description">Description: </label>
				<input type="text" th:field=*{description} name="description" required="required">
				<span th:errors="*{description}" class="text-danger"></span>
			</fieldset>

			<fieldset class="mb-3">
				<label th:for="targetDate">Target Date: </label>
				<input type="text" th:field=*{targetDate} name="targetDate" required="required">
				<span th:errors="*{targetDate}" class="text-danger"></span>
			</fieldset>

			<input type="hidden" th:field=*{done}>
			<input type="hidden" th:field=*{id}>
			<input type="submit" class="btn btn-success">

		</form>
		<br>
		<a href="list-todos" class="btn btn-primary">Go Back</a>
	</div>
	<div th:replace="fragments :: footer"></div>
	<script src="webjars/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript">
		$('#targetDate').datepicker({
			format: 'yyyy-mm-dd'
		});
	</script>
</body>

</html>