<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>
	<div th:replace="fragments :: navbar"></div>

	<div class="container">
		<h1 th:text="'Your Todos'"></h1>
		<table class="table">
			<thead>
				<tr>
					<th>Description</th>
					<th>Target Date</th>
					<th>Is Done?</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="todos : ${todos}">
					<td th:text="${todos.description}"></td>
					<td th:text="${todos.targetDate}"></td>
					<td th:text="${todos.done}"></td>
					<td><a th:href="@{delete-todo(id=${todos.id})}" class="btn btn-danger">Delete</a>
						<a th:href="@{update-todo(id=${todos.id})}" class="btn btn-warning">Update</a>
					</td>
				</tr>
			</tbody>
		</table>
		<a href="add-todo" class="btn btn-success">Add Todo</a>
	</div>
	<div th:replace="fragments :: footer"></div>
</body>

</html>